/* Kyle Fisher
reset.css
INFO 2900 6A
Brown, McCune, Paschall, Rosas
Jan 2 2017 */

html
{
   font-family: arial;
    height: 100%;
}

header, nav, main, footer 
{ 
   display: block;
}

#sitewrapper
{
   margin-left: 6rem; 
   margin-right: 6rem;
   /*background-color: #DEDEDE;*/
    background: linear-gradient(#DEDEDE, #FFFFFF);
}

#headerwrapper
{
   /*text-align: center;*/
   /*background-color: #6495ED;*/
    background: linear-gradient(#6495ED, #FFFFFF);
}

#contentwrapper
{
   margin-left: 6rem; 
   margin-right: 6rem;
   /*background-color: #DEDEDE;*/
}

#navbarwrapper
{
      /*background-color: #6495ED;*/
}

#navbarwrapper ul
{
      margin:0;
      padding: 0;
      
      border: 0 solid black;
    border-width: 0 0 0px 1px;
}

#navbarwrapper li
{
   display: inline-block;
   font-size: 0.8rem;
   border: 0 solid black;
    border-width: 1px 1px 1px 0;
    padding:.5em;
   background-color: #FFF;
   text-align: center;
   /*line-height: 48px;*/
   
    width: 6.85rem;
    height: 1.5rem;
}

#h1wrapper
{
   border-bottom: 3px solid black;
   margin-bottom: 1rem;
   padding-bottom: 0rem;
}

.homepage-links-container
{
   width: 657px;
   height: 340px;
   margin: auto;
}


.homepage-links-container ul
{
   list-style-type: none;
   margin: 0px;
   padding-left: 0;
   
   display: block;
}

.homepage-links-container li
{
   display: inline-block;
   border: 1px solid black;
   font-size: 1.2rem;
   margin-top: .8rem;
   margin-bottom: .8rem;
   /*padding: 2rem;*/
   background-color: #FFF;
   text-align: center;
   line-height: 114px;
   
    width: 178px;
    height: 114px;
}

.event
{
   border-bottom: 3px solid black;
   margin-bottom: 1rem;
}

p 
{
   margin-bottom: 1rem;
   padding-bottom: 0rem;
}

header
{
   margin: 0;
   padding: 0;
   font-size: 100%;
   vertical-align: baseline;
   border: 0;
   margin-left: 6rem; 
   margin-right: 6rem;
}


nav li
{
   display: inline-block;
}

a { text-decoration: none; padding: 0em;}
a:link { color: #000; }
a:visited { color: #000; }
a:hover { color: #9BB6E6; }
a:active{ color: #0000FF; }

nav ul 
{ 
   list-style-type: none;
    margin: 0px;
    padding-left: 0; 
}

h1 
{
   font-size: 2.0rem;
   margin-top: 1.4rem;
   margin-bottom: 0.5rem;
}

h2{
   font-size: 1.4rem;
   margin-top: 0.3rem;
   margin-bottom: 0.3rem;
}

body
{
   /*background: linear-gradient(#DEDEDE, #FFFFFF);*/
    background: linear-gradient(#9BB6E6, #DEDEDE);
    
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer
{
   text-align: center;
   font-size: .9rem;
   background-color: #FFF;
   
   border-top: 1px solid black;
   margin-top: 1rem;
   padding: 0.7rem;
}